.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 100px;
    background: transparent;
}

h1 {
    color: #2f2f2f;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
}

form {
    gap: 6px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

input[type="text"] {
    width: 70%;
    height: auto;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    color: #2f2f2f;
    border-radius: 6px;
    border: 1px solid #000;
    background: transparent;
    transition: 0.6s ease;
}

input[type="text"]:focus {
    outline: none;
    border-color: #2f2f2f;
}

::placeholder {
    color: #2f2f2f;
    font-size: 16px;
    font-weight: 500;
    text-align: start;
}

button,
a {
    text-decoration: none;
    border: none;
    cursor: pointer;
    color: #2f2f2f;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 6px;
}

.movie-list {
    gap: 20px;
    display: grid;
    background: transparent;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.movie-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.6);
}

.movie-card img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.movie-card h2 {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 5px;
}

.movie-card p {
    color: #2f2f2f;
    font-size: 16px;
    text-align: start;
    margin-bottom: 5px;
    overflow-y: hidden;
    display: inline-block;
}
